<div class="about-background">
	<div class="col-md-6 text-center">
    	<img src="images/icon.png" class="about-icon">
    </div>
	<div class="col-md-4 header-content">
    	<h1 class="about-header-title"> How do you compare? </h1>
    	<p class="about-header-text">Politicator helps you understand how you stack up against our presidential candidates in an unbiased way. Think you know where you stand? See if you're right! Want to know more about what our candidates think about the major current policies? This is the perfect app for you. See supporting quotes from the candidates themselves and take a quick survey to find out who you align with on multiple issues.</p>
    	<%= button_to "Let's Find Out", new_survey_path, method: :get, class: 'btn btn-outline-danger about-button', :id => 'cta-button' %>
    </div>
	<a href="#carrot-hash">
		<div class="carrot-bottom" id="carrot">
			<p class="meet-developers-text">Meet Our Developers</p>
			<div class="col-md-12">
			<img id="carrot-hash" class="carrot-bottom-image" src="/images/carrot.png">	
			</div>		
		</div>
	</a>  
</div>

<div>
	<div class="row about-div">
    	<div class="col-md-12">
     		<h1 class="our-team-title"> Our Team </h1>
     	<div class="row">
     		<div class="col-md-10 offset-md-1">
     		<div class="col-md-2 offset-md-2 headshot-section"> 
     			<div class="headshot" style="background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAVVAAAAJDcyM2IyMDUyLTg2OTYtNGVlZC04ZTg2LWI5MjY1NDE0MmRkYw.jpg)">	
				</div>
				<div>
					<p>Alison Kenney</p>
				</div>
					<div class="personal-icons">
						<a href="https://github.com/alisonkenney" target="blank">
						<img width="50" height="50" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT9uepPsaErTtnJVHyJe6Dr6QmOmfCjaWnyGs0u7Echl5CItqhg4cDr8A"> 
						</a>
					</div>	
					<p class="personal-icons">|</p>
					<div class="personal-icons">
						<a href="https://www.linkedin.com/in/alisonekenney" target="blank">
						<img width="43" height="43" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png">
						</a>
					</div>	
				</div>
     		<div class="col-md-2 headshot-section"> 
     			<div class="headshot" style="background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/16f/3e1/15e36cb.jpg)">
     			</div>
     			<div>
     				<p>Nick Ursetta</p>	
     			</div>
	     			<div class="personal-icons">
	     				<a href="https://github.com/nursetta" target="blank">
						<img width="50" height="50" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT9uepPsaErTtnJVHyJe6Dr6QmOmfCjaWnyGs0u7Echl5CItqhg4cDr8A">
						</a>	
					</div>
					<p class="personal-icons">|</p>
					<div class="personal-icons">
						<a href="https://www.linkedin.com/in/nickursetta" target="blank">
						<img width="43" height="43" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png">
						</a>	
					</div>		
     		</div>
     		<div class="col-md-2 headshot-section"> 
     			<div class="headshot" style="background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAfJAAAAJDFkMTZhMGQ4LTRjMzgtNDgxZC1iYTgxLWM3Zjk0ZjU4YmJlNg.jpg)">
     			</div>
     			<div>
     				<p>Greg Brunk</p>
     			</div>	
	     			<div class="personal-icons">
	     				<a href="https://github.com/gregbrunk" target="blank">
							<img width="50" height="50" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT9uepPsaErTtnJVHyJe6Dr6QmOmfCjaWnyGs0u7Echl5CItqhg4cDr8A">
						</a>	
					</div>
					<p class="personal-icons">|</p>
					<div class="personal-icons">
						<a href="https://www.linkedin.com/in/gregbrunk" target="blank">
							<img width="43" height="43" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png">
						</a>
					</div>	
     		</div>
     		<div class="col-md-2 headshot-section"> 
     			<div class="headshot" style="background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAc3AAAAJDhkNmZjNDhiLTZkMjItNDliMS04NGRjLTcwMTI0ODE5MmQ4ZQ.jpg)">
     			</div>
     			<div>
     				<p>Monica Rodewald</p>	
     			</div>
 				<div class="personal-icons">
 					<a href="https://github.com/Indigo253931" target="blank">
						<img width="50" height="50" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT9uepPsaErTtnJVHyJe6Dr6QmOmfCjaWnyGs0u7Echl5CItqhg4cDr8A">
					</a>	
				</div>	
				<p class="personal-icons">|</p>
				<div class="personal-icons">
					<a href="https://www.linkedin.com/in/monicarodewald" target="blank">
						<img width="43" height="43" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png">
					</a>	
				</div>
			</div>
     	</div>
     	</div>    	
     </div>

      	<div class="about-box col-md-8 offset-md-2"> 
      		<p>We are a team of developers enrolled in General Assembly committed to providing a fun and informative experience for individuals wishing to understand the 2016 presidential election candidates, their views, and how those views stack up against your personal beliefs.</p>
      	</div>

	</div>
</div>
