<!-- Hero Content  -->
<section class="hero">
	<div class= "col-md-12" id="hero-headline-block">
		<p id="hero-headline">choose.</p>
	</div>
</section>

<!-- Call to Action Content -->
<section class="cta">
	<p class="cta-header">You think you know where you stand. But are you sure?</p>
	<button id="cta-button" type="button" class="btn btn-outline-danger">Find Out</button>
</section>

<!-- Candidate Content -->
<section class="candidates-section">
	<!-- Hillary Section -->
	<div class="col-md-4 offset-md-1 col-xs-10 offset-xs-1 candidate-box">
		<!-- Candidate Details -->
		<div class="col-md-12 candidate-head">
			<div class="candidate-img" style="background-image: url('/images/Hillary.jpg')"></div>
			<p class="candidate-name">Hillary Rodham Clinton</p>
			<p>Party: <span class="candidate-party-left">Democrat</span></p>
			<hr>
		</div>
		<!-- Candidate Policies -->
		<div class="col-md-12 candidate-policies-box">
			<p class="policy-name">Foreign Policy</p>
			<div class="col-md-5 offset-md-1 policy-value-left">
				<p>Ensure safety for all the world.</p>
			</div>
			<div class="col-md-5 policy-value-right">
				<p>American safety is all that matters.</p>
			</div>
			<div class="col-md-10 offset-md-1 policy-slider">
				<img class="policy-slider-img" src="/images/left-slider.png">
			</div>
		</div>
		<div class="col-md-10 offset-md-1 candidate-quote">
			<p class="quote-text">''We and our allies must work hand in hand to dismantle the networks that threaten the safety of the world''</p>
		</div>
		<div class="col-md-12 candidate-button-box">
			<hr>
			<a href="candidates.html" id="cta-button" type="button" class="btn btn-outline-danger" type="submit">See More</a>
		</div>
	</div>
	<!-- Trump Section -->
	<div class="col-md-4 offset-md-2 col-xs-10 offset-xs-1 candidate-box">
		<div class="col-md-12 candidate-head">
			<div class="candidate-img" style="background-image: url('images/Trump.jpg')"></div>
			<p class="candidate-name">Donald John Trump, Sr.</p>
			<p>Party: <span class="candidate-party-right">Republican</span></p>
			<hr>
		</div>
		<!-- Candidate Policies -->
		<div class="col-md-12 candidate-policies-box">
			<p class="policy-name">Foreign Policy</p>
			<div class="col-md-5 offset-md-1 policy-value-left">
				<p>Ensure safety for all the world.</p>
			</div>
			<div class="col-md-5 policy-value-right">
				<p>American safety is all that matters.</p>
			</div>
			<div class="col-md-10 offset-md-1 policy-slider">
				<img class="policy-slider-img" src="images/right-slider.png">
			</div>
			<div class="col-md-10 offset-md-1 candidate-quote">
				<p class="quote-text">''We will never enter into any conflict unless it makes us safer as a nation''</p>
			</div>
		</div>
		<div class="col-md-12 candidate-button-box">
			<hr>
			<a href="candidates.html" id="cta-button" type="button" class="btn btn-outline-danger" type="submit">See More</a>
		</div>
	</div>
</section>