<div class="resource-background">
<section class=" container resources-section">
	<h1 class="resources-section-title">Resources</h1>
	<h4 class="resources-section-description">Looking for additional facts and information about your favorite candidate? Click below to read supporting quotes, facts and history about the current policies and candidates.</h4>
</section>
<!-- Quotes -->
<div class="container panel-group text-center panel-div" id="accordion">
    <div class="panel panel-default">
     	<div class="panel-heading">
        <h4 class="panel-title">     
        <a class="dt" data-toggle="collapse" href="#collapse1">Hillary Clinton Quotes</a>
        </h4>
     	</div>
    <div id= "collapse1" class="panel-collapse collapse">
       <div class="panel-body">
	        	<div>
                        <h3 class="resource-title">Animal and Envrionmental Protection</h3>
                            <ul class="resource-description">
                                <li>The way our society treats animals is a reflection of our humanity.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Climate Change</h3>
                            <ul class="resource-description">
                                <li>I won’t let anyone take us backward, deny our economy the benefits of harnessing a clean energy future, or force our children to endure the catastrophe that would result from unchecked climate change.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Healthcare</h3>
                            <ul class="resource-description">
                                <li>The Affordable Care Act made preventive care available and affordable for an estimated 39 million people with Medicare and saved more than 9 million people with Medicare thousands of dollars in prescription drug expenses</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Military</h3>
                            <ul class="resource-description">
                                <li>I believe in strong alliances; clarity in dealing with our rivals; and a rock-solid commitment to the values that have always made America great. </li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Gun Control</h3>
                            <ul class="resource-description">
                                <li>I believe weapons of war have no place on our streets. We may have our disagreements on gun safety regulations, but we should all be able to agree on a few things. If the FBI is watching you for suspected terrorist links, you shouldn’t be able to just go buy a gun with no questions asked. You shouldn’t be able to exploit loopholes and evade criminal background checks by buying online or at a gun show. And yes, if you’re too dangerous to get on a plane, you are too dangerous to buy a gun in America.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Abortion</h3>
                            <ul class="resource-description">
                                <li>Politicians have no business interfering with women's personal health decisions. I will oppose efforts to roll back women's access to reproductive health care, including Republican efforts to defund Planned Parenthood. As president, I'll stand up for Planned Parenthood and women’s access to critical health services, including safe, legal abortion.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">College</h3>
                            <ul class="resource-description">
                                <li>Let’s … make debt-free college available to everyone. ... And let’s liberate the millions of Americans who already have student debt.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Immigration</h3>
                            <ul class="resource-description">
                                <li>If we claim we are for family, then we have to pull together and resolve the outstanding issues around our broken immigration system. The American people support comprehensive immigration reform not just because it’s the right thing to do—and it is—but because they know it strengthens families, strengthens our economy, and strengthens our country. … We can’t wait any longer for a path to full and equal citizenship. (May 5, 2015)</li>
                            </ul class="resource-description">
                    </div>
                    <div>
                            <h3 class="resource-title">Trade</h3>
                                <ul class="resource-description">
                                    <li>I have a very clear view. We have to trade with the rest of the world. We are 5 percent of the world's population. We have to trade with the other 95 percent. And trade has to be reciprocal. That's the way the global economy works. But we have failed to provide the basic safety net support that American workers need in order to be able to compete and win in the global economy.</li>
                                </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">LGBTQ</h3>
                            <ul class="resource-description">
                                <li>Hillary will work with Congress to pass the Equality Act, continue President Obama’s LGBT equality executive actions, and support efforts underway in the courts to protect people from discrimination on the basis of gender identity and sexual orientation in every aspect of public life.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Gay marriage</h3>
                            <ul class="resource-description">
                                <li>I'll fight to ensure lesbian, gay, bisexual, and transgender Americans have full equality under the law, and to end discrimination in employment, housing, schools, and other aspects of our society.</li>
                            </ul>
                    </div>
                    <a class="resource-description" href="http://www.ontheissues.org/default.htm">More Hillary Clinton Quotes</a>
            </div>
	        
       </div>
    </div>
</div>


<div class="container panel-group text-center" id="accordion">
    <div class="panel panel-default">
     	<div class="panel-heading">
        <h4 class="panel-title">     
        <a class="dt" data-toggle="collapse" href="#collapse2">Donald Trump Quotes</a>
        </h4>
     	</div>
    <div id= "collapse2" class="panel-collapse collapse">
       <div class="panel-body">
        			<div>
                        <h3 class="resource-title">Animal and Environmental Protection</h3>
                 
                            <ul class="resource-description">
                                <li>My sons love hunting. They’re hunters and they’ve become good at it.  I am not a believer in hunting and I’m surprised they like it. I know that anything they did was 100% OK in terms of the hunting community. (March 3 2012)
                                </li>
                                <li>Ringling Brothers is <a href="https://thinkprogress.org/end-of-an-era-how-ringling-bros-finally-came-around-to-ending-its-145-year-old-elephant-act-be3839f8dd7c#.ncdxpp212" target="blank">phasing out their elephants.</a> I, for one, will never go again. They probably used the animal rights stuff to reduce costs. (March 5, 2015)
                                </li>
                            </ul>
                            <ul class="resource-description">
                                <li>Cut the EPA; what they do is a disgrace.</li>
                                <li>We'll be fine with the environment. We can leave a little bit, but you can't destroy businesses.
                                </li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Climate Change</h3>
                            <ul class="resource-description">
                                <li>The concept of global warming was created by and for the Chinese in order to make U.S. manufacturing non-competitive. (Nov. 6 2012)
                                </li>
                                <li>This very expensive GLOBAL WARMING bullshit has got to stop. Our planet is freezing, record low temps,and our GW scientists are stuck in ice (Jan. 1 2014)
                                </li>
                                <li>NBC News just called it the great freeze - coldest weather in years. Is our country still spending money on the GLOBAL WARMING HOAX? (Jan. 25 2014)
                                </li>
                                <li>Any and all weather events are used by the GLOBAL WARMING HOAXSTERS to justify higher taxes to save our planet! They don't believe it $$$$! (Jan. 26 2014)
                                </li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Healthcare</h3>
                            <ul class="resource-description">
                                <li>No more massive injections. Tiny children are not horses—one vaccine at a time, over time. (Sep. 3 2014)
                                </li>
                                <li>I am being proven right about massive vaccinations—the doctors lied. Save our children and their future. (Sep. 3 2014)
                                </li>
                                <li>I'm not against vaccinations for your children, I'm against them in 1 massive dose.Spread them out over a period of time and autism will drop! (Sep. 4 2014)
                                </li>
                                <li>By following free market principles and working together to create sound public policy that will broaden healthcare access, make healthcare more affordable and improve the quality of the care available to all Americans.
                                </li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Military</h3>
                            <ul class="resource-description">
                                <li>We've spent $5T in the Mideast and gotten nothing. (Feb 2016)
                                </li>
                                <li>Get rid of ISIS, quickly: dry up their oil and their money. (Feb 2016)
                                </li>
                                <li>Close our Internet up, to fight ISIS terrorist recruitment. (Dec 2015)
                                </li>
                                <li>Assad is a bad guy, but his replacement could be worse. (Nov 2015)
                                </li>
                                <li>Let Russia make moves in Syria; it's a quagmire. (Nov 2015)
                                </li>
                                We should have demanded a deal with Kuwait to liberate them. (Nov 2015)<li>
                                Afghanistan war made a mess, but troops need to stay. (Oct 2015)
                                </li>
                                <li>Good that Russia has entered Syrian conflict. (Oct 2015)
                                </li>
                                <li>
                                Strengthen military, but act defensively. (Oct 2015)
                                </li>
                                <li>If Obama had attacked Syria, we wouldn't have refugees now. (Sep 2015)
                                </li>
                                <li>Boots on the ground to fight ISIS. (Jun 2015)
                                </li>
                                <li>Bomb the oil fields in Iraq to take on ISIS. (Jun 2015)
                                <li>Hit ISIS hard and fast. (Feb 2015)
                                </li>
                                <li>Take $1.5T in oil from Iraq to pay for US victims. (Mar 2013)
                                </li>
                                <li>Stop Iran's nuclear programs by any and all means necessary. (Dec 2011)
                                </li>
                                <li>John McCain's actions in Vietnam were not "heroic". (Sep 2000)
                                </li>
                                <li>Use force to stop North Korean nuke development. (Jul 2000)
                                </li>
                                <li>There is no government in Iraq. The so-called government in Iraq went to Iran to meet with Iran. Iran is going to take over Iraq. That's as simple as that. I don't care about the government of Iraq. They're totally corrupt. Who cares?
                                </li>
                                <li>There's nobody bigger or better at the military than I am.
                                </li>
                                <li>I would bring back waterboarding, and I’d bring back a hell of a lot worse than waterboarding.
                                </li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Gun Control</h3>
                            <ul class="resource-description">
                                <li>The Second Amendment guarantees a fundamental right that belongs to all law-abiding Americans. The Constitution doesn’t create that right – it ensures that the government can’t take it away. Our Founding Fathers knew, and our Supreme Court has upheld, that the Second Amendment’s purpose is to guarantee our right to defend ourselves and our families. This is about self-defense, plain and simple.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Abortion</h3>
                            <ul class="resource-description">
                                <li>Planned Parenthood should absolutely be defunded. I am against abortion... and that is a tremendous amount of the work they do.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">College</h3>
                            <ul class="resource-description">
                                <li>These student loans are probably one of the only things that the government shouldn't make money from and yet it does.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Immigration</h3>
                            <ul class="resource-description">
                                <li>Ship millions back to Mexico, like Eisenhower did. (Nov 2015)
                                </li>
                                <li>Walls on borders work; just ask Israel. (Nov 2015)
                                </li>
                                <li>Mexico will pay for wall, but not through tariffs. (Nov 2015)
                                </li>
                                <li>Building 1,000-mile wall is possible, if we make commitment. (Nov 2015)
                                </li>
                                <li>I can get Mexico to pay for border wall; politicians can't. (Oct 2015)
                                </li>
                                <li>The border wall will be well-managed and built correctly. (Aug 2015)
                                </li>
                                <li>We need wall on Mexican border, but ok to have a door in it. (Aug 2015)
                                </li>
                                <li>Mexican government is sending criminals across the border. (Aug 2015)
                                </li>
                                <li>Building a wall will save money because it stops bad dudes. (Jul 2015)
                                </li>
                                <li>Make Mexico pay for wall with severe economics. (Jun 2015)
                                </li>
                                <li>
                                Mexico and Latin America send us drugs, crime, and rapists. (Jun 2015)
                                </li>
                                <li>Build great wall on southern border; have Mexico pay for it. (Jun 2015)
                                </li>
                                <li>Triple-layered fence and Predator drones on Mexican border. (Dec 2011)
                                </li>
                                <li>If we don’t have borders, we don’t have a country. We need to BUILD A WALL that will keep illegal immigrants out.</li>
                            </ul>
                    </div>
                    <div>
                            <h3 class="resource-title">Trade</h3>
                                <ul class="resource-description">
                                    <li>Our goal is not protectionism but accountability. America fully opened its markets to China but China has not reciprocated. Its Great Wall of Protectionism uses unlawful tariff and non-tariff barriers to keep American companies out of China and to tilt the playing field in their favor.</li>
                                </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">LGBTQ</h3>
                            <ul class="resource-description">
                                <li>People go, they use the bathroom they feel is appropriate, there has been so little trouble. I believe it should be states’ rights and the state should make the decision. They’re more capable of making the decision.</li>
                            </ul>
                    </div>
                    <div>
                        <h3 class="resource-title">Gay marriage</h3>
                            <ul class="resource-description">
                                <li>They have ruled on it. I wish that it was done by the state. I don't like the way they ruled. I disagree with the Supreme Court from the standpoint they should have given the state -- it should be a states' rights issue. And that's the way it should have been ruled on</li>
                            </ul>
                    </div>
                    <a class="resource-description" href="http://www.ontheissues.org/default.htm">More Donald Trump Quotes</a>
                </div>
       </div>
    </div>
</div>


<div class="container panel-group text-center" id="accordion">
    <div class="panel panel-default">
     	<div class="panel-heading">
        <h4 class="panel-title">     
        <a class="dt" data-toggle="collapse" href="#collapse3">Hillary Clinton History</a>
        </h4>
     	</div>
    <div id= "collapse3" class="panel-collapse collapse">
       <div class="panel-body">
	        <div>
                <h4 class="resource-title">Animals</h4>
                    <ul class="resource-description">
                        <li>Cosponsored <a href="https://www.congress.gov/bill/110th-congress/senate-bill/261" target="blank">Senate Bill 261</a> to establish felony-level penalties for violations of the federal law on dog fighting, cockfighting, and other animal fighting. (March 2007)</li>
                        <li>Cosponsored <a href="https://www.congress.gov/bill/110th-congress/senate-bill/311" target="blank">Senate Bill 311</a> to ban the transportation, possession, purchase, and sale of horses to be slaughtered for human consumption. (April 2007)</li>
                        <li>Cosponsored Senate Bill 394 to require humane euthanasia of livestock too sick or injured to walk and  strengthen penalties for violations of the Humane Slaughter law. (2009)</li>
                    </ul>
                <h4 class="resource-title">Antibiotic Use</h4>
                    <ul class="resource-description">
                        <li><a href="http://www.livablefutureblog.com/2010/12/new-fda-numbers-reveal-food-animals-consume-lion%E2%80%99s-share-of-antibiotics" target="blank">80% of antibiotic sold</a> in the US are for <a href="http://www.fda.gov/downloads/ForIndustry/UserFees/AnimalDrugUserFeeActADUFA/UCM231851.pdf" target="blank">livestock</a>.</li>
                    </ul>
                    <ul class="resource-description">
                        <li>Did not vote on Senate Bill 714 to prohibit use of dogs and cats obtained through random sources for research.
                        </li>
                        <li>Did not sign letter to the Agriculture Appropriations Subcommittee which sought funds for enforcement of the Humane Methods of Slaughter Act, Animal Welfare Act, and federal animal fighting law. Funding would have supported programs addressing the needs of animals in disasters and to easing the shortage of veterinarians in rural and inner-city areas.</li>
                    </ul>
                <h4 class="resource-title">Environment</h4>
                    <ul class="resource-description">
                        <li>Pushes GMO Agenda, Hires Monsanto Lobbyist, <a href="http://www.globalresearch.ca/hillary-clinton-pushes-gmo-agenda-hires-monsanto-lobbyist-takes-huge-dollars-from-monsanto/5450985" target="blank">Takes Huge Dollars from Monsanto</a>
                        </li>
                        <li>Sponsored bill for tax credit to remove lead-based paint. (2005)
                        </li>
                        <li>Sponsored health impact bill for environmental health. (2006)
                        </li>
                        <li>Grants for beach water pollution under Clean Water Act. (2008)
                        </li>
                    </ul>
                <h4 class="resource-title">Climate Change</h4>
  					<ul class="resource-description">
                        <li>Voted YES on including oil and gas smokestacks in mercury regulations. (2005)</li>
                        <li>Rated 89% by the LCV, indicating pro-environment votes.(2003)
                        </li>
                    </ul>
                <h4 class="resource-title">Healthcare</h4>
                    <ul class="resource-description">
                        <li>Voted YES on overriding veto on expansion of Medicare. (2008)</li>
                        <li>Voted NO on means-testing to determine Medicare Part D premium.(2008)</li>
                        <li>Voted YES on requiring negotiated Rx prices for Medicare part D. (2007)</li>
                        <li>Voted NO on limiting medical liability lawsuits to $250,000. (2006)</li>
                        <li>Voted YES on expanding enrollment period for Medicare Part D. (2006)</li>
                        <li>Voted YES on increasing Medicaid rebate for producing generics. (2005)</li>
                        <li>Voted YES on negotiating bulk purchases for Medicare prescription drug. (2005)</li>
                        <li>Voted NO on $40 billion per year for limited Medicare prescription drug benefit. (2003)</li>
                        <li>Voted YES on allowing reimportation of Rx drugs from Canada. (2002)</li>
                        <li>Voted YES on allowing reimportation of Rx drugs from Canada. (2001)</li>
                        <li>Voted NO on funding GOP version of Medicare prescription drug benefit.(2001)
                        </li>
                    </ul>
                <h4 class="resource-title">Military</h4>
                    <ul class="resource-description">
                        <li>Supported giving former President Bush the authority to use force against Saddam Hussein</li>
                        <li>Voted in favor of authorizing  the Iraq war, yet eventually regretted her vote</li>
                        <li>Supported continuation of residual force in Iraq</li>
                        <li>Voted against precedent of US subordinate to UN in Iraq
                        </li>
                        <li>Opposed funding Iraq War. (2007)
                        </li>
                        <li>Pledged that she will do everything she can to prevent Iran from developing a nuclear bomb. (2007)
                        </li>
                        <li>Supported decision to target Osama bin Laden (2013)
                        </li>
                        <li>Supports some actions taken by the US against terrorists inside Libya, particularly ISIS training camps (2016)
                        </li>
                    </ul>
    </div>
    <div>
            <h3 class="resource-title">Gun Control</h3>
                <ul class="resource-description">
                    <li>Voted NO on prohibiting lawsuits against gun manufacturers. (2005)</li>
                    <li>Voted NO on banning lawsuits against gun manufacturers for gun violence. (2004)</li>
                    <li>Supports prevention of unauthorized firearm use with "smart gun" technology.
                </ul>
                <h3 class="resource-title">Abortion</h3>
                <ul class="resource-description">
                        <li>Opposed China’s forced abortion and Romania’s forced pregnancy</li>
                        <li>Long-held moderate stance focuses on reducing abortions
                        </li>
                        <li>1993 health plan included RU-486 and widely available
                        </li>
                        <li>Fought for years to get “Plan B” contraceptive on the market
                        </li>
                </ul>
            <h3 class="resource-title">Immigration</h3>
                <ul class="resource-description">
                    <li>Voted YES on continuing federal funds for declared "sanctuary cities" (2008)</li>
                    <li>Voted YES on comprehensive immigration reform (2007)</li>
                    <li>Voted NO on declaring English as the official language of the US government. (2007)</li>
                    <li>Voted YES on eliminating the "Y" nonimmigrant guestworker program. (2007)</li>
                    <li>Voted YES on building a fence along the Mexican border. (2006)</li>
                    <li>Voted YES on establishing a Guest Worker program. (2006)</li>
                    <li>Voted YES on allowing illegal aliens to participate in Social Security. (2006)</li>
                    <li>Voted YES on giving Guest Workers a path to citizenship. (2006)</li>
                    <li>Sponsored bill covering child resident aliens under Medicaid. (2005)</li>
                    <li>Sponsored bill funding social services for noncitizens. (2006)</li>
                </ul>
            <h3 class="resource-title">Trade</h3>
                <ul class="resource-description">
            		<li>Criticized trade pacts for weak labor standards</li>
                    <li>Supports MFN for China, despite concerns over human rights (2000)
                    </li>
                </ul>    

    </div>
       </div>
    </div>
	</div>
</div>	

<div class="container panel-group text-center" id="accordion">
    <div class="panel panel-default">
     	<div class="panel-heading">
        <h4 class="panel-title">     
        <a class="dt" data-toggle="collapse" href="#collapse4">Donald Trump History</a>
        </h4>
     	</div>
    <div id= "collapse4" class="panel-collapse collapse">
       <div class="panel-body">
	        <div>
                <h4 class="resource-title">Animal and Environmental Protection</h4>
                    <ul class="resource-description">
                        <li>Does not have a score from The Humane Society Legislative Fund because he is not a member of the Senate and the House of Representatives
                        </li>
                        <li>Tapped cattle farmer Charles Herster to lead his agriculture and rural advisory committee.</li>
                        <li>Donald Trump’s campaign is set to officially announce Texas Agriculture Commissioner Sid Miller as the national co-chairman of his agriculture advisory team next week.</li>
                        <li>Trump’s sons are trophy hunters and defended the killing of Cecil the lion. They shot “a variety of animals, including an elephant, a crocodile, a kudu, a civet cat and waterbuck” in Zimbabwe.</li>
                    </ul>
                <h4 class="resource-title">Healthcare</h4>
                    <ul class="resource-description">
                        <li>Stated that he would repeal Obamacare, reduce barriers to the interstate sale of health insurance, institute a full tax deduction for insurance premium payments for individuals, make Health Saving Accounts inheritable, require price transparency, block-grant Medicaid to the states, and allow for more overseas drug providers through lowered regulatory barriers. (March 2016)
                        </li>
                        <li>Supports enforcing immigration laws could reduce healthcare costs. (March 2016)
                        </li>
                    </ul>
                <h4 class="resource-title">Military</h4>
                    <ul class="resource-description">
                        <li>Supported Iraq invasion in 2002; opposed in 2003. (Feb 2016)</li>
                        <li>Sent to military academy because of childhood rebelliousness. (Sep 2015)
                        </li>
                    </ul>
                <h4 class="resource-title">Gay Marriage</h4>
  					<ul class="resource-description">
                        <ul>
                        <li>Supports the First Amendment Defense Act (FADA) which would expose LGBTQ people to more discrimination.</li>
                    </ul>
                            
    </div>
    
       </div>
    </div>
	</div>
</div>	


<div class="container panel-group text-center" id="accordion">
    <div class="panel panel-default">
     	<div class="panel-heading">
        <h4 class="panel-title">     
        <a class="dt" data-toggle="collapse" href="#collapse5">Policy Facts</a>
        </h4>
     	</div>
    <div id= "collapse5" class="panel-collapse collapse">
       <div class="panel-body">
	        <div>
                <h4 class="resource-title">Agriculture</h4>
                    <ul class="resource-description">
                        <li>414 billion dollars in <a href="https://meatonomics.com/2013/08/22/meatonomics-index/" target="blank">externalized cost</a> from animal agriculture
                        </li>
                    </ul>
                <h4 class="resource-title">Antibiotic Use</h4>
                    <ul class="resource-description">
                        <li><a href="http://www.livablefutureblog.com/2010/12/new-fda-numbers-reveal-food-animals-consume-lion%E2%80%99s-share-of-antibiotics" target="blank">80% of antibiotic sold</a> in the US are for <a href="http://www.fda.gov/downloads/ForIndustry/UserFees/AnimalDrugUserFeeActADUFA/UCM231851.pdf" target="blank">livestock</a>.</li>
                    </ul>
                <h4 class="resource-title">Slaughter</h4>
                    <ul class="resource-description">
                        <li>The <a href="http://ccrjustice.org/home/get-involved/tools-resources/fact-sheets-and-faqs/animal-enterprise-terrorism-act-aeta" target="blank">Animal Enterprise Terrorism Act (AETA)</a>
                        </li>
                        <li>The <a href="https://www.nal.usda.gov/awic/animal-welfare-act" target="blank">Animal Welfare Act</a>
                        </li>
                        <li><a href="http://www.aces.edu/pubs/docs/A/ANR-2266/ANR-2266.pdf" target="blank">Euthanasia</a>
                        </li>
                        <li><a href="https://www.nal.usda.gov/awic/humane-methods-slaughter-act" target="blank">Humane Methods of Slaughter Act</a>
                        </li>
                    </ul>
                <h4 class="resource-title">Wildlife</h4>
                    <ul class="resource-description">
                        <li>USDA predator <a href="http://www.predatordefense.org/USDA.htm" target="blank">killing of wild animals</a> to protect livestock.</li>
                        <li>More wild horses and burros in <a href="http://www.blm.gov/style/medialib/blm/wo/Planning_and_Renewable_Resources/wild_horses_and_burros/statistics_and_maps/holding__adoption.Par.45280.File.dat/HMA_HA%20Stats%20FY2013.pdf" target="blank">government holding facilities</a> than are <a href="http://www.blm.gov/style/medialib/blm/wo/Planning_and_Renewable_Resources/wild_horses_and_burros/statistics_and_maps/holding__adoption.Par.14315.File.dat/Facility%20Report%20FY-2013.pdf" target="blank">free on the range</a>.
                        </li>
                    </ul>
                <h4 class="resource-title">Vivisection</h4>
                    <ul class="resource-description">
                        <li>It is estimated that over <a href="http://www.navs.org/the-issues/animals-in-research/" target="blank">100 million animals</a> are used every year by the research industry.</li>
                    </ul>
                <h4 class="resource-title">Deforestation</h4>
                    <ul class="resource-description">
                        <li><a href="https://news.mongabay.com/2009/08/brazilian-beef-giant-announces-moratorium-on-rainforest-beef/" target="blank">136 million</a> rainforest acres cleared for <a href="http://rainforests.mongabay.com/amazon/amazon_destruction.html" target="blank">animal agriculture</a>.
                        </li>
                        <li><a href="http://www.pecad.fas.usda.gov/highlights/2013/06/indonesia/" target="blank">26 million</a> rainforest acres (10.8m hectares) have been cleared for palm oil production.
                        </li>
                        <li>Up to 137 plant, animal and insect species are lost everyday due to rainforest destruction.
                        </li>
                        <li>The <a href="http://www.fao.org/docrep/010/a0701e/a0701e00.HTM" target="blank">leading causes</a> of rainforest destruction are livestock and feedcrops.
                        </li>
                        <li>1-2 acres of rainforest are cleared every second.
                        </li>
                        <li>Animal agriculture is responsible for up to 91% of Amazon destruction.
                        </li>
                    </ul>
                <h4 class="resource-title">Water</h4>
                    <ul class="resource-description">
                        <li>We could see fishless oceans by <a href="http://www.un.org/events/tenstories/06/story.asp?storyid=800" target="blank">2048</a>.
                        </li>
                        <li> 3/4 of the world’s fisheries are <a href="http://www.fao.org/newsroom/common/ecg/1000505/en/stocks.pdf" target="blank">exploited or depleted</a>.
                        </li>
                        <li><a href="http://www.fao.org/docrep/016/i2727e/i2727e01.pdf" target="blank">90-100 million tons</a> of fish are pulled from our oceans each year.
                        </li>
                        <li>As many as <a href="http://www.fishcount.org.uk/published/std/fishcountstudy.pdf" target="blank">2.7 trillion animals</a> are <a href="http://ocean.nationalgeographic.com/ocean/global-fish-crisis-article/" target="blank">pulled from the ocean</a> each year.
                        </li>
                        <li>For every 1 pound of fish caught, up to <a href="http://www.fao.org/docrep/W6602E/w6602E09.htm" target="blank"> 5 pounds of unintended marine species </a> are caught and discarded as by-kill.
                        </li>
                        <li>As many as <a href="https://www.theguardian.com/environment/2014/mar/20/americas-nine-most-wasteful-fisheries-named" target="blank"> 40% (63 billion pounds) of fish</a> caught globally every year are discarded.
                        </li>
                        <li>Scientists estimate as many as <a href="https://www.theguardian.com/environment/2014/mar/20/americas-nine-most-wasteful-fisheries-named" target="blank"> 650,000 whales, dolphins and seals </a> are killed every year by fishing vessels.
                        </li>
                        <li>Fish catch peaks at <a href="http://www.fao.org/docrep/016/i2727e/i2727e01.pdf" target="blank"> 85 million tons</a>.
                        </li>
                        <li><a href="http://www.sharksavers.org/files/8613/3185/9956/Shark_Bycatch_FACT_SHEET_Shark_Savers.pdf" target="blank"> 40-50 million sharks</a> killed in <a href="https://awionline.org/store/catalog/animal-welfare-publications/marine-life/sharks-risk-brochure" target="blank"> fishing lines and nets</a>.
                        </li>
                    </ul>
                <h4 class="resource-title">Land</h4>
                    <ul class="resource-description">
                        <li>Livestock or livestock feed <a href="http://www.fao.org/newsroom/en/News/2006/1000448/index.html" target="blank">occupies 1/3</a> of the earth’s ice-free land.
                        </li>
                        <li>Livestock operations on land have created more than <a href="http://www.noaanews.noaa.gov/stories2014/20140804_deadzone.html" target="blank">500 nitrogen flooded deadzones</a> around the world in our oceans.
                        </li>
                        <li><a href="http://www.un.org/apps/news/story.asp?NewsID=17076#.V60CQJMrJol" target="blank">1/3 of the planet is desertified</a>, with livestock as the leading driver.
                        </li>
                    </ul>
    </div>
    <div>
            <h3 class="resource-title">Greenhouse Gases</h3>
                <ul class="resource-description">
                    <li>Animal agriculture is responsible for <a href="http://www.fao.org/docrep/010/a0701e/a0701e00.HTM" target="blank">18% of greenhouse gas emissions</a>, more than the combined exhaust from all transportation.
                    </li>
                    <li>Transportation exhaust is responsible for 13% of all greenhouse gas emissions. Greenhouse gas emissions from this sector primarily involve fossil fuels burned for road, rail, air, and marine transportation.
                    </li>
                    <li>Livestock and their byproducts account for at least <a href="http://www.animalfeedscience.com/article/S0377-8401(11)00517-7/abstract" target="blank">32,000 million tons of carbon dioxide (CO2)</a> per year, or 51% of all worldwide greenhouse gas emissions.
                    </li>
                    <li>Livestock is responsible for <a href="http://www.fao.org/docrep/010/a0701e/a0701e00.htm" target="blank">65% of all human-related emissions of nitrous oxide</a> – a greenhouse gas with 296 times the global warming potential of carbon dioxide, and which stays in the atmosphere for 150 years.
                    </li>
                </ul>
                <h3 class="resource-title">Methane</h3>
                <ul class="resource-description">
                    <li>Methane is<a href="http://science.sciencemag.org/content/326/5953/716.figures-only" target="blank"> 25-100 times more destructive than CO2</a> on a 20 year time frame.
                    </li>
                    <li>Methane has a global warming potential <a href="http://science.sciencemag.org/content/326/5953/716.figures-only" target="blank">86 times that of CO2</a>
                    </li>
                    <li>US Methane emissions from livestock and natural gas are <a href="https://www.epa.gov/ghgemissions/overview-greenhouse-gases#methane" target="blank">nearly equal.</a>
                    </li>
                    <li>Cows produce <a href="http://www.ibtimes.com/cow-farts-have-larger-greenhouse-gas-impact-previously-thought-methane-pushes-climate-change-1487502" target="blank">150 billion gallons</a> of methane per day.
                    </li>
                    <li>Reducing methane emissions would <a href="http://www.un.org/climatechange/summit/wp-content/uploads/sites/2/2014/05/INDUSTRY-PR.pdf" target="blank">create tangible benefits</a>  almost immediately.
                    </li>
                </ul>
            <h3 class="resource-title">Renewable energy</h3>
                <ul class="resource-description">
                    <li>Converting to wind and solar power will take <a href="http://inhabitat.com/infographic-how-much-would-it-cost-for-the-entire-planet-to-switch-to-renewable-energy/" target="blank">20+ years</a> and roughly 43 trillion dollars.
                    </li>
                </ul>

    </div>
       </div>
    </div>
	</div>
</div>	

<!-- closing tag -->
</div>




  










