<div id="details">
	<div class="candidate_quotes">
	<h1>Quotes</h1>
		<div class="hilary_clinton">
			<h2>Hilary Clinton</h2>		
				<div class="animals_envrionment">
					<h3>Animal and Envrionmental Protection</h3>
						<ul>
							<li>The way our society treats animals is a reflection of our humanity.</li>
						</ul> 
				</div>
				<div class="climate_change">
					<h3>Climate Change</h3>
						<ul>
							<li>I won’t let anyone take us backward, deny our economy the benefits of harnessing a clean energy future, or force our children to endure the catastrophe that would result from unchecked climate change.</li>
						</ul> 
				</div>
				<div class="healthcare">
					<h3>Healthcare</h3>
						<ul>									
							<li>The Affordable Care Act made preventive care available and affordable for an estimated 39 million people with Medicare and saved more than 9 million people with Medicare thousands of dollars in prescription drug expenses</li>
						</ul> 
				</div>	
				<div class="military">
					<h3>Military</h3>
						<ul>
							<li>I believe in strong alliances; clarity in dealing with our rivals; and a rock-solid commitment to the values that have always made America great. </li>
						</ul> 
					</div>
				<div class="gun_control">
					<h3>Gun Control</h3>
						<ul>
							<li>I believe weapons of war have no place on our streets. We may have our disagreements on gun safety regulations, but we should all be able to agree on a few things. If the FBI is watching you for suspected terrorist links, you shouldn’t be able to just go buy a gun with no questions asked. You shouldn’t be able to exploit loopholes and evade criminal background checks by buying online or at a gun show. And yes, if you’re too dangerous to get on a plane, you are too dangerous to buy a gun in America.</li>
						</ul> 
				</div>
				<div class="abortion">
					<h3>Abortion</h3>
						<ul>
							<li>Politicians have no business interfering with women's personal health decisions. I will oppose efforts to roll back women's access to reproductive health care, including Republican efforts to defund Planned Parenthood. As president, I'll stand up for Planned Parenthood and women’s access to critical health services, including safe, legal abortion.</li>
						</ul> 
				</div>
				<div class="college">
					<h3>College</h3>
						<ul>
							<li>Let’s … make debt-free college available to everyone. ... And let’s liberate the millions of Americans who already have student debt.</li>
						</ul> 
				</div>
				<div class="immigration">
					<h3>Immigration</h3>
						<ul>
							<li>If we claim we are for family, then we have to pull together and resolve the outstanding issues around our broken immigration system. The American people support comprehensive immigration reform not just because it’s the right thing to do—and it is—but because they know it strengthens families, strengthens our economy, and strengthens our country. … We can’t wait any longer for a path to full and equal citizenship. (May 5, 2015)</li>
						</ul> 
				<div class="trade">
						<h3>Trade</h3>
							<ul>
								<li>I have a very clear view. We have to trade with the rest of the world. We are 5 percent of the world's population. We have to trade with the other 95 percent. And trade has to be reciprocal. That's the way the global economy works. But we have failed to provide the basic safety net support that American workers need in order to be able to compete and win in the global economy.</li>
							</ul> 
				</div>
				<div class="LGBTQ">
					<h3>LGBTQ</h3>
						<ul>
							<li>Hillary will work with Congress to pass the Equality Act, continue President Obama’s LGBT equality executive actions, and support efforts underway in the courts to protect people from discrimination on the basis of gender identity and sexual orientation in every aspect of public life.</li>
						</ul> 
				</div>
				<div class="marriage">
					<h3>Gay marriage</h3>
						<ul>
							<li>I'll fight to ensure lesbian, gay, bisexual, and transgender Americans have full equality under the law, and to end discrimination in employment, housing, schools, and other aspects of our society.</li>
						</ul> 
				</div>
				<a href="http://www.ontheissues.org/default.htm" target="blank">More Hilary Clinton Quotes</a>
		</div>
		<div class="donald_trump">
			<h2>Donald Trump</h2>		
				<div class="animals_envrionment">
					<h3>Animal and Envrionmental Protection</h3>
						<h4>Animals</h4>
							<ul>
								<li>My sons love hunting. They’re hunters and they’ve become good at it.  I am not a believer in hunting and I’m surprised they like it. I know that anything they did was 100% OK in terms of the hunting community. (March 3 2012)
								</li>
								<li>Ringling Brothers is <a href="https://thinkprogress.org/end-of-an-era-how-ringling-bros-finally-came-around-to-ending-its-145-year-old-elephant-act-be3839f8dd7c#.ncdxpp212" target="blank">phasing out their elephants.</a> I, for one, will never go again. They probably used the animal rights stuff to reduce costs. (March 5, 2015)
								</li>
							</ul> 
						<h4>Envrionment</h4>
							<ul>
								<li>Cut the EPA; what they do is a disgrace.</li>
								<li>We'll be fine with the environment. We can leave a little bit, but you can't destroy businesses.
								</li>
							</ul>
				</div>
				<div class="climate_change">
					<h3>Climate Change</h3>
						<ul>
							<li>The concept of global warming was created by and for the Chinese in order to make U.S. manufacturing non-competitive. (Nov. 6 2012)
							</li>
							<li>This very expensive GLOBAL WARMING bullshit has got to stop. Our planet is freezing, record low temps,and our GW scientists are stuck in ice (Jan. 1 2014)
							</li>
							<li>NBC News just called it the great freeze - coldest weather in years. Is our country still spending money on the GLOBAL WARMING HOAX? (Jan. 25 2014)
							</li>
							<li>Any and all weather events are used by the GLOBAL WARMING HOAXSTERS to justify higher taxes to save our planet! They don't believe it $$$$! (Jan. 26 2014)
							</li>
						</ul> 
				</div>
				<div class="healthcare">
					<h3>Healthcare</h3>
						<ul>									
							<li>No more massive injections. Tiny children are not horses—one vaccine at a time, over time. (Sep. 3 2014)
							</li>								
							<li>I am being proven right about massive vaccinations—the doctors lied. Save our children and their future. (Sep. 3 2014)
							</li>
							<li>I'm not against vaccinations for your children, I'm against them in 1 massive dose.Spread them out over a period of time and autism will drop! (Sep. 4 2014)
							</li>
							<li>By following free market principles and working together to create sound public policy that will broaden healthcare access, make healthcare more affordable and improve the quality of the care available to all Americans.
							</li>
						</ul> 
				</div>	
				<div class="military">
					<h3>Military</h3>
						<ul>
							<li>There is no government in Iraq. The so-called government in Iraq went to Iran to meet with Iran. Iran is going to take over Iraq. That's as simple as that. I don't care about the government of Iraq. They're totally corrupt. Who cares?</li>
							<li>There's nobody bigger or better at the military than I am.
							</li>
							<li>I would bring back waterboarding, and I’d bring back a hell of a lot worse than waterboarding.
							</li>
						</ul> 
					</div>
				<div class="gun_control">
					<h3>Gun Control</h3>
						<ul>
							<li>The Second Amendment guarantees a fundamental right that belongs to all law-abiding Americans. The Constitution doesn’t create that right – it ensures that the government can’t take it away. Our Founding Fathers knew, and our Supreme Court has upheld, that the Second Amendment’s purpose is to guarantee our right to defend ourselves and our families. This is about self-defense, plain and simple.</li>
						</ul> 
				</div>
				<div class="abortion">
					<h3>Abortion</h3>
						<ul>
							<li>Planned Parenthood should absolutely be defunded. I am against abortion... and that is a tremendous amount of the work they do.</li>
						</ul> 
				</div>
				<div class="college">
					<h3>College</h3>
						<ul>
							<li>These student loans are probably one of the only things that the government shouldn't make money from and yet it does.</li>
						</ul> 
				</div>
				<div class="immigration">
					<h3>Immigration</h3>
						<ul>
							<li>If we don’t have borders, we don’t have a country. We need to BUILD A WALL that will keep illegal immigrants out.</li>
						</ul> 
				<div class="trade">
						<h3>Trade</h3>
							<ul>
								<li>Our goal is not protectionism but accountability. America fully opened its markets to China but China has not reciprocated. Its Great Wall of Protectionism uses unlawful tariff and non-tariff barriers to keep American companies out of China and to tilt the playing field in their favor.</li>
							</ul> 
				</div>
				<div class="LGBTQ">
					<h3>LGBTQ</h3>
						<ul>
							<li>People go, they use the bathroom they feel is appropriate, there has been so little trouble. I believe it should be states’ rights and the state should make the decision. They’re more capable of making the decision.</li>
						</ul> 
				</div>
				<div class="marriage">
					<h3>Gay marriage</h3>
						<ul>
							<li>They have ruled on it. I wish that it was done by the state. I don't like the way they ruled. I disagree with the Supreme Court from the standpoint they should have given the state -- it should be a states' rights issue. And that's the way it should have been ruled on</li>
						</ul> 
				</div>
			<a href="http://www.ontheissues.org/default.htm" target="blank">More Hilary Clinton Quotes</a>
		</div>
	</div>		
</div>