.about-background {
	background-color: #4A90E2;
	height: 95vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.about-header-title {
	font-family:'Avenir Next LT Pro Regular';
	margin-top: 200px;
	color: white;
	margin-bottom: 15px;
	text-align: left;
}

.about-header-text {
	font-family: 'Avenir Next LT Pro Ultra Light';
	color: white;
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 30px;
	text-align: left;
}

.about-button {
	background-color: transparent;
	color: white;
	border: 1px white solid;
}

.about-icon {
	margin-top: 250px;
	height: 25vh;

}

.carrot-bottom {
	position: absolute;
	bottom: 0;
}

#carrot {
	text-align: center;
	width: 100vw;
}

.carrot-bottom-image {
	height: 5vh;
	margin-top: 15px;
}

.meet-developers-text {
	font-family: 'Avenir Next LT Pro Ultra Light';
	color: white;
	font-size: 25px;
}

.about-div {
	text-align: center;
	margin-top: 25px;
}

.about-box {
	background-image: url("/images/about_box.png");
	height: 35vh;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 70px;
	margin-top: 20px;
}

.about-box p {
	font-size: 1.5em;
}

.our-team-title {
	color: #C05858;
	margin-bottom: 20px;
	margin-top: 35px;
}

.headshot {
	height: 200px;
	width: 200px;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%);    
	box-shadow: 1px 2px 5px #2c2c2c;
	border: 6px solid white;
}

.headshot-section {
	text-align: center;
	font-family:'Avenir Next LT Pro Regular';
	font-size: 20px;
	color: #373a3c;
}

.personal-icons {
	display: inline-block;
	font-size: 40px;
	color: #a8a8a8;
	font-family: 'Avenir Next LT Pro Ultra Light';
	margin-top: -20px;
}

.icon-right{
	margin-right: 50%;
}


@media (max-width: 768px) {
	.about-background {
		display: inline-block;
		height: auto;
	}

	.about-icon {
		margin-top: 40px;
		height: 100px;
	}

	.about-header-title {
		margin-top: 30px;
		text-align: center;
		font-size: 30px;
	}

	.about-header-text {
		text-align: center;
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 20px;
	}

	.about-background {
		text-align: center;
	}

	.headshot-section {
		text-align: center;
	}

	.carrot-bottom-image {
		margin-top: 5px;
	}

	.meet-developers-text {
		font-size: 1em;
	}

	.about-box {
		border-top: 1px solid lightgrey;
		background: none;
		padding: 40px;
		height: 28vh;
	}

	.about-button {
		margin-bottom: 30px;
	}

	.carrot-bottom {
		display:none;
	}

	.meet-developers-text {
		display: none;
	}

	.headshot {
		margin: 0 auto 10px auto;
	}

	.about-box {
		display: inline-block;
		height: auto;
		padding: 20px;
	}

	.about-box p {
		font-size: 1.2em;
	}
}