/*Candidates Page*/
.candidate-box-candidate-page {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 30px;
    background-color: white;
    padding-bottom: 30px;
    text-align: center;
}

.candidates-page-header {
	background-color: #4A90E2;
	height: 15vh;
	text-align: center;
}

.candidates-page-header p {
	color: white;
	font-size: 50px;
	padding-top: 60px;
	font-family: 'Avenir Next LT Pro Ultra Light';
}