/*Candidates Page*/
.candidate-box-candidate-page {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 30px;
    background-color: white;
    padding-bottom: 30px;
    text-align: center;
}

.candidates-section-candidate-page {
	display: inline-block;
	background-color: #4A90E2;
	margin-bottom: -10px;
}

.candidates-page-header {
	background-color: #4A90E2;
	height: 15vh;
	text-align: center;
}

.candidates-page-header p {
	color: white;
	font-size: 50px;
	padding-top: 60px;
	font-family: 'Avenir Next LT Pro Ultra Light';
}

.candidate-name-candidate-page {
	margin-top: 120px;
	font-size: 40px;
	margin-bottom: 0;
}

.candidate-img-candidate-page {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    top: -100px;
    width: 200px;
    height: 200px;
    border: 6px solid white;
    border-radius: 100px;
    background-size: cover;
    background-position: 50%;
}

@media (max-width: 768px) {
	.candidates-section-candidate-page {
		display: inline-block;
		padding-top: 100px;
		margin-bottom: -10px;
	}

	.candidate-box-candidate-page {
	    margin-top: 10vh;
	    margin-bottom: 10vh;
	    border-radius: 30px;
	    background-color: none;
	    padding-bottom: 20px;
	    text-align: center;
	}

	.candidate-img-candidate-page {
		top: -200px;
	}

	.candidates-page-header {
		height: 10vh;
	}

	.candidates-page-header p {
		font-size: 5vh;
		padding-top: 30px;
	}

	.candidate-name-candidate-page {
		margin-top: 100px;
		font-size: 30px;
		margin-bottom: 0;
	}
}
