/*Hero Section*/
.profile-hero {
	z-index: -10;
	position: relative;
	height: 55vh;
	overflow: hidden;
}

.profile-hero-graphic {
	background: center center no-repeat;
	background-size: cover;
	-webkit-filter: blur(25px) grayscale(100%);
	transform: scale(1.1);
	transform-origin: center center;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -5;
}

.profile-header {
	color: white;
	font-size: 40px;
	z-index: 5;
	position: absolute;
	top: 12vh;
	text-align: center;
	width: 100vw;
}

.profile-img {
    width: 200px;
    height: 200px;
    border: 6px solid white;
    border-radius: 100px;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    box-shadow: 1px 2px 5px #2c2c2c;
}

.profile-edit-button-box {
	position: absolute;
    right: 3%;
    top: -5%;
}

#profile-edit-button {
	border-radius: 25px;
	width: 120px;
	padding-top: 11px;
	-webkit-appearance: none;
	border: solid #C05858 2px;
}

#profile-edit-button:hover {
	background-color: transparent;
	border: solid #C05858 3px;
}

.profile-name {
	margin-top: 220px;
}

.profile-name p {
	font-size: 60px;
	margin-bottom: 0px;
	font-family: 'Avenir Next LT Pro Ultra Light';
}

.profile-party {
	font-size: 20px;
	margin-top: 0px;
	font-family: 'Avenir Next LT Pro Ultra Light';
}

.profile-party-value {
	color: white;
}

.profile-details {
	font-family: 'Avenir Next LT Pro Ultra Light';
	margin-top: 25px;
	font-size: 35px;
}

.profile-content {
	background-color: white;
	height: 35vh;
	text-align: center;
}

.profile-content p {
	color: #C05858;
	font-size: 45px;
	font-family: 'Avenir Next LT Pro Ultra Light';
	margin-top: 40px;
	margin-bottom: 30px;
}

.candidate-percent-box {
	text-align: center;
}

.candidate-percent {
	display: block;
	width: 100%;
	height: 250px;
}

.profile-img-candidate {
    width: 200px;
    height: 200px;
    border: 6px solid white;
    border-radius: 200px;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    box-shadow: 1px 2px 5px #2c2c2c;
    text-align: center;
}

.profile-img-candidate p {
	color: white;
	font-size: 70px;
}

.result-button {
	margin-top: 80px;
}

.survey-edit-button-box {
	position: absolute;
    left: 2%;
    margin-top: -10px;
}

#survey-edit-button {
	font-size: 16px;
	color: #C05858;
}

.take-survey-box {
	margin-top: 15vh;
}

.view-results-mobile {
	display: none;
}

@media (max-width: 768px) {
	.profile-header {
		top: 15vh;
	}

	.profile-img {
	  	width: 150px;
	    height: 150px;
	    margin-left: -75px;
	}

	#profile-edit-button {
		width: 90px;
		font-size: 12px;
	}

	.profile-name {
		margin-top: 160px;
	}

	.profile-name p {
		font-size: 40px;
	}

	.profile-details {
		font-family: 'Avenir Next LT Pro Ultra Light';
		margin-top: 15px;
		font-size: 20px;
	}

	.profile-content {
		display: inline-block;
		height: auto;
		width: 100%;
	}

	.profile-content p {
		font-size: 25px;
		margin-top: 0px;
		margin-bottom: 15px;
	}

	.take-survey-box {
		margin-top: 0px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.candidate-percent {
		display: none;
	}

	.view-results-mobile {
		display: inline-block;
		margin-top: -70px;
		margin-bottom: 30px;
	}

	.survey-edit-button-box {
		position: relative;
	    margin-top: 20px;
	    left: 0;
	}
}